@charset "utf-8";


.clear:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

// 轮播图
#banner {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1240px;
    z-index: 100;
    overflow-y: hidden;
}

// 轮播下面商品展示
.section-box-public {
    background: #f4f4f4;
    overflow: hidden;
}

.section-box {
    margin-top: 597px;
    height: auto;
    padding-bottom: 45px;

    .section-box-adv {
        height: auto;
        padding-bottom: 45px;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        overflow: hidden;

        &>ul {
            width: 1240px;
            margin: 0 auto;

            li {
                float: left;
                position: relative;
                width: 25%;
                padding-top: 45px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;

                    img {
                        display: block;
                        width: 130px;
                        height: 130px;
                        margin: 0 auto;
                    }

                    em {
                        display: block;
                        color: #333;
                        font-size: 20px;
                        font-weight: 400;
                        font-style: normal;
                    }

                    p {
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
        }
    }
}

// 商品详情页面
// 魅族手机   魅族声学  智能配件 生活周边 

// 标题
.index-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.index-phone {
    min-width: 1240px;

    .index-phone-center {
        margin-bottom: 50px;

        // 大图片
        .index-phone-img {
            height: 450px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            overflow: hidden;

            a {
                transition: opacity .2 linear;

                &:hover {
                    opacity: .8;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        //商品表
        // LI里面公共的样式
        .box-info {
            position: absolute;
            // top: 50px;
            left: 0;
            width: 100%;
            text-align: center;
        }

        // 商品列表大图的商品展示
        #big {
            width: 610px;
            height: 610px;

            img {
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 460px;
                margin-left: -250px;
            }

            // 大图商品展示
            .good-box {
                top: 50px;

                &>span {
                    display: block;
                }

                .good-name {
                    color: #333;
                    font-size: 28px;
                    margin-bottom: 0;
                }

                .good-title {
                    color: #333;
                    font-size: 18px;
                    margin-bottom: 3px
                }

                .good-price {
                    position: relative;
                    display: inline-block;
                    color: #c00;
                    font-size: 22px;
                    padding-left: 14px
                }
            }

            em {
                width: 60px;
                height: 60px;
                font-size: 16px;
                background-image: linear-gradient(120deg, #ff3149, #ff64a6);
            }
        }

        .section-box-row {
            .section-box-center {
                width: 1240px;
                margin: auto;

                ul>li {
                    float: left;
                    position: relative;
                    width: 301px;
                    height: 375px;
                    margin-right: 9px;
                    margin-top: 10px;
                    background-color: #fff;
                    overflow: hidden;
                    transition: all .3s ease;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                    }

                    #pic {
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 0;

                    }

                    // 左侧商品列表样式
                    .goods-name-pic {
                        color: #fff;
                        font-size: 21px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    .goods-title-pic {
                        color: #fff;
                        font-size: 14px;
                    }

                    .goods-price-pic {
                        font-size: 24px;
                        font-weight: 700;
                        color: #6ad0c4;
                    }

                    &>a {
                        display: block;
                        width: 100%;
                        height: 100%;

                        img {
                            display: block;
                            margin: 0 auto;
                            height: 230px;
                            margin-top: 30px;

                        }

                        em {
                            display: block;
                            // border: 1px solid #333;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            position: absolute;
                            top: 30px;
                            left: 56px;
                            background-image: linear-gradient(120deg, #2e74f6, #56bdf9);
                            line-height: 60px;
                            color: #fff;
                            font-size: 16px;
                            text-align: center;
                            border-radius: 50%
                        }

                        span {
                            display: block;
                        }

                        .top {
                            top: 270px;
                        }

                        //公共样式

                        .goods-name {
                            color: #333;
                            font-size: 16px;
                            margin-bottom: 2px;
                        }

                        .goods-title {
                            color: #999;
                            font-size: 14px;
                        }

                        .goods-price {

                            display: inline-block;
                            color: #c00;
                            font-size: 22px;

                        }
                    }
                }
            }
        }

    }

}

// 社区热帖
.index-comment {

    // 展示栏
    .section-host-row {
        margin-bottom: 50px;

        .section-host-center {
            width: 1240px;
            margin: auto;

            &>ul>li {
                float: left;
                position: relative;
                width: 301px;
                height: 400px;
                margin-right: 9px;
                margin-bottom: 9px;
                background-color: #fff;
                overflow: hidden;
                transition: all .3s ease;

                &:hover {
                    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    color: #515151 !important;

                    // 承载照片盒子
                    .comment-img-wp {
                        height: 190px;
                        position: relative;
                        overflow: hidden;

                        img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .comment-user-info {
                        overflow: hidden;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 10px;
                        padding: 0 15px;

                        img {
                            width: 36px;
                            height: 36px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            float: left;

                        }

                        span {
                            margin-left: 15px;
                            text-align: left;
                            float: left;
                        }

                    }

                    p {
                        padding: 10px 15px 15px;
                        font-size: 16px;
                        line-height: 27px;
                        text-align: left;
                        height: 66px;
                        overflow: hidden;
                    }

                    .comment-tip {
                        color: #999;
                        display: block;
                        padding: 0 15px;
                        margin-top: 36px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

//  Flyme列表 精彩视频
.section-flyme-row {
    margin-bottom: 50px;

    .section-flyme-center {
        width: 1240px;
        margin: auto;

        li {
            width: 301px;
            height: 245px;
            margin-bottom: 15px;
            float: left;
            margin-right: 9px;
            background-color: #fff;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;

            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            }

            img {
                height: 190px;
                overflow: hidden;
            }

            &>a {
                color: #515151;

                p {
                    font-size: 16px;
                    line-height: 55px;
                    text-align: center;
                }
                // 精彩视频播放图标
                div>i {
                    display: block;
                    z-index: 1000;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: url(../img/icon-video-player_36c4d32.png) no-repeat;
                    background-size: 100%;
                    right: 18px;
                    bottom: 70px;
                }
            }

        }
    }
}
// Flyme第一个LI大图
.first {
    height: 245px;
    margin-bottom: 15px;
    width: 611px !important;

    a {
        display: block;
        width: 100%;
        height: 100%;

        img {
            border: 0;
            display: block;
            height: 245px !important;
            margin: 0 auto;

        }
    }

}