@charset "utf-8";
.shopping-header {
  position: relative;
  width: 100%;
  z-index: 998;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}
.shopping-header .shopping-header-center {
  width: 1240px;
  margin: 0 auto;
}
.shopping-header .shopping-header-center > div {
  float: left;
}
.shopping-header .shopping-header-center > div a {
  display: block;
  height: 80px;
  width: 150px;
}
.shopping-header .shopping-header-center > div a img {
  max-width: 125px;
  margin-top: 28px;
}
.shopping-header .shopping-header-center #first {
  float: left;
  margin-left: 30px;
  line-height: 80px;
}
.shopping-header .shopping-header-center #first li,
.shopping-header .shopping-header-center #first i {
  float: left;
  font-size: 14px;
  color: #999;
}
.shopping-header .shopping-header-center #first i {
  margin: 0 10px;
}
.shopping-header .shopping-header-center #second {
  float: right;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-top: 20px;
}
.shopping-header .shopping-header-center #second li {
  float: left;
  padding: 0 20px;
}
.shopping-header .shopping-header-center #second li > a {
  color: #666;
  transition: all .2s linear;
}
.shopping-header .shopping-header-center #second li > a:hover {
  color: #00c3f5;
}
.shopping-cart {
  padding-bottom: 40px;
  overflow: hidden;
  background-color: #F4F6FA;
}
.shopping-cart .shopping-cart-center {
  width: 1240px;
  margin: 0 auto;
}
.shopping-cart .shopping-cart-center .shopping-cart-empty {
  display: table;
  height: auto;
  width: 100%;
  margin: 10px 0 30px;
  background-color: #fff;
}
